In [1]:
from scipy.optimize import fsolve
def f(x):
    y = 5 * x - 10
    return y

x = fsolve(f,0)
print(x)

[2.]

In [2]:
from scipy.optimize import fsolve
def f(x):
    y = x ** 3 - 2 * x ** 2 - 11 * x + 12
    return y

x = fsolve(f,0)
print(x)

[1.]

In [3]:
import requests, zipfile
from io import StringIO
import io
import pandas as pd

url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/00356/student.zip'
r = requests.get(url, stream=True)
z = zipfile.ZipFile(io.BytesIO(r.content))
z.extractall()

student_data_math = pd.read_csv('student-mat.csv',sep = ";")
student_data_math.head()
# student_data_math.columns

# 樞紐分析
new_student_data_math = pd.pivot_table(student_data_math,index = 'age',columns = 'sex', values = 'G1', aggfunc = 'mean')
print(new_student_data_math)

sex          F          M
age
15   10.052632  12.250000
16   10.203704  11.740000
17   11.103448  10.600000
18   10.883721  10.538462
19   10.642857   9.700000
20   15.000000  13.000000
21         NaN  10.000000
22         NaN   6.000000

In [4]:
new_student_data_math.dropna()

sex          F          M
age
15   10.052632  12.250000
16   10.203704  11.740000
17   11.103448  10.600000
18   10.883721  10.538462
19   10.642857   9.700000
20   15.000000  13.000000